@model CityHomeNpl.Models.Tblproduct
@{
    ViewBag.Title = "delete";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="main-content">
     <form class="form-basic" method="post" action="#">
<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>User Details</legend>

    <div class="display-label">ModelName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Modelname)
    </div>

    <div class="display-label">Price Rate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">Images</div>
    
    <div class="display-field">
        @Html.DisplayFor(model => model.Image)
    </div>
    
</fieldset>
<div class="form-row">
    @using (Html.BeginForm("delete", "Account"))
    {
                <input type="submit" value="Delete" />
    }
            </div>
</form>
</div>